.filterBox {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.ivoiceContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}
.ivoiceContainer :last-child {
  margin-left: 30%;
}

.filterLogo {
  width: 50px;
  height: 50px;
}

.invoiceForm > select,
input {
  border: 1px solid #353535;
  padding: 5px;
  border-radius: 8px;
  background-color: transparent;
}
.filterDept {
  width: 20%;
}
label {
  color: black;
  font-size: 1.5rem;
  margin: 0 5px;
}
.printInvoice {
  color: white;
  padding: 5px;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  background-color: rgb(20, 152, 240);
}
.printInvoice:hover {
  cursor: pointer;
  background-color: rgb(19, 112, 233);
}
.myFilterOrdersPage {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#myOrdersHeading {
  padding: 10px;
  text-align: center;
  font: 400 2.5vmax "Roboto";
  box-sizing: border-box;
  transition: all 0.5s;
}

.myFilterOrdersPage {
  background-color: white;
}

.myFilterOrdersPage div {
  font: 300 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  /* border: none; */
}

.myFilterOrdersPage a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.myFilterOrdersPage a:hover {
  color: tomato;
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255) !important;
  font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .myFilterOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
  }

  .myFilterOrdersPage div {
    font: 300 4vw "Roboto";
  }

  .MuiDataGrid-columnHeader div {
    font: 500 5vw "Roboto" !important;
  }
}
